<footer>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-6 col-md-2 text-center text-md-right mb-4">
          <h4>Employers</h4>
          <ul>
            <li><a href="/auth">Dashboard</a></li>
            <li><a href="/auth/employerProfile">Profile</a></li>
            <li><a href="/auth/employerProfile">Job Postings</a></li>
          </ul>
        </div>
      <div class="col-6 col-md-3 text-center text-md-right mb-4 text-right">
        <h4>Company</h4>
        <ul>
          <li><a href="http://origincodeacademy.com/meet-the-team/">About Us</a></li>
          <li><a href="http://origincodeacademy.com/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-7 text-center text-md-right">
        <h1 class="d-inline-block portal">
        <img src="https://i.imgur.com/VtSaB6o.png" alt="Origin portal" class="d-inline-block" />PORTAL</h1>
        <p class="mt-5">©2018 Origin Code Academy
          <br />Origin Academy Students</p>
      </div>
    </div>
  </div>
</footer>