<nav class="navbar navbar-expand-sm navbar-dark" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/"><h2 class="portal"><img src="https://i.imgur.com/VtSaB6o.png" alt="Origin portal" class="d-inline-block" />PORTAL</h2>
</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/login">Log In</a>
        <a class="nav-item nav-link" href="/signup">Sign Up</a>
      </div>
    </div>
  </div>
</nav>