<!DOCTYPE html>
<html lang="en">
  <% const ejs = true; %>
  <% include ../partials/head %>
  <body>
    <div id="dvt">
      <% include ../partials/navigation %>
      <div class="container">
          <div class="row justify-content-center landing-content">
            <div class="col-10 order-sm-last order-last col-md-7 col-lg-6 inline-flex justify-content-center landing-left">
              <h1>Dive into the Origin Portal</h1>
              <p>Connecting great bootcamp graduates with great companies</p>
              <a href="/signup">Get Started</a>
            </div>
            <div class="col-6 order-md-last col-md-5 col-lg-4">
              <img class="img-fluid" src="https://i.imgur.com/VtSaB6o.png" alt="Origin portal logo" />
            </div>
          </div>
          <div class="row justify-content-center">
            <p><i class="arrow"></i></p>
          </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </body>
</html>